@{
    //Layout = "~/Views/Shared/_Error_Layout.cshtml";
    Layout = "~/Views/Shared/_no_login_Layout.cshtml";
}


<hgroup class="error-conntent">
    <div class="error-msg">
        <h1>エラー</h1>
        <h2>要求の処理中にエラーが発生しました。</h2>
    </div>
</hgroup>